# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TimeTracker.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\liy1\RiderProjects\TimeTracker\.idea\.idea.TimeTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
